#parse("/front/Head.html")

  <div id="page_main" class="clearfix">
    <div class="page-right">
      <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="guestbook.html" title="留言反馈">留言反馈</a></div>
      <div class="page-guestbook">
<script type="text/javascript">
function check()
{
	if(document.guestbook.Guest_Name.value=="")
	{
		alert("请填写您的姓名");
		document.guestbook.Guest_Name.focus();
		return false
	}
	if(document.guestbook.Guest_Email.value=="")
	{
		alert("请填写邮件地址");
		document.guestbook.Guest_Email.focus();
		return false
	}
	if(document.guestbook.Content.value=="")
	{
		alert("请填写反馈内容");
		document.guestbook.Content.focus();
		return false
	}
	if(document.guestbook.checkcode.value=="")
	{
		alert("请填写验证码");
		document.guestbook.checkcode.focus();
		return false
	}
	 
	return true;
}
</script>
      <form method="post" name="guestbook" id="guestbook" onSubmit="return check()">
      <dl class="clearfix">
      <dt>您的姓名：</dt>
      <dd><input name="Guest_Name" type="text" id="Guest_Name" /><span>*</span></dd>
      <dt>邮件地址：</dt>
      <dd><input name="Guest_Email" type="text" id="Guest_Email" /><span>*</span></dd>
      <dt>电话：</dt>
      <dd><input name="Guest_TEL" type="text" id="Guest_TEL" /></dd>
      <dt>传真：</dt>
      <dd><input name="Guest_FAX" type="text" id="Guest_FAX" /></dd>
      <dt>地址：</dt>
      <dd><input name="Guest_ADD" type="text" id="Guest_ADD" /></dd>
      <dt>邮编：</dt>
      <dd><input name="Guest_ZIP" type="text" id="Guest_ZIP" /></dd>
      <dt>留言内容：</dt>
      <dd><textarea name="Content" cols="" rows="" class="Content" id="Content"></textarea></dd>
      </dl>
      <p><input name="submit" type="submit" id="submit" value="提交信息" /></p>
      </form>
      </div>
    </div>
    <div class="page-left">
      <div class="left-search">
        <h2><span>站内搜索</span></h2>
        <form action="" method="post" id="sitesearch" name="sitesearch">
          <p>
            <select name="searchid" id="searchid"><option value="2">产品展示</option><option value="3">新闻中心</option><option value="4">招聘信息</option></select>
          </p>
          <p>
            <input name="searchtext" type="text" id="searchtext"/>
          </p>
          <p>
            <input name="searchbutton" type="submit" id="searchbutton" value="" />
          </p>
        </form>
      </div>
      <div class="left-contact">

#parse("/front/Foot.html")