#parse("/admin/Head.html")

<table>
    <thead><tr><td>Edit</td><td>Delete</td><td>Name</td><td>Category</td></tr></thead>
    <tbody>
        #foreach($r in $data.rows)
        <tr>
            <td><a href="ProductAdmin.ashx?action=edit&id=$r.ID">Edit</a></td>
            <td><a href="ProductAdmin.ashx?action=delete&id=$r.ID">Delete</a></td>
            <td>$r.Name</td>
            <td>$r.CName</td>
        </tr>
        #end
    </tbody>
</table>
<a href="ProductAdmin.ashx?action=add">AddNew</a>

#parse("/admin/Foot.html")