#parse("/admin/Head.html")

<form action="ProductAdmin.ashx" method="post" enctype="multipart/form-data">

    #if($data.baseaction=="edit")
    <input type="hidden" name="productid" value="$data.product.ID" />
    <input type="hidden" name="action" value="editlaunch" />
    #else
    <input type="hidden" name="action" value="addlaunch" />
    #end

    Name<input type="text" name="productname" value="$data.product.Name" /><br />
    Msg<input type="text" name="productmsg" value="$data.product.Msg" /><br />
    CategoryID<select name="productcategoryid">
        #foreach($c in $data.category)
        #if( $data.product.CategoryID == $c.ID ) )
        <option selected value="$c.ID">$c.Name</option>
        #else
        <option value="$c.ID">$c.Name</option>
        #end
        #end
    </select>
    <br />
    Image<input type="file" name="productimage" />
    

    #if($data.baseaction=="edit")
    <img src="$data.product.ImagePath" width="100" />
    #end

    <br /><input type="submit" value="OK" />
</form>

#parse("/admin/Foot.html")
